{% extends "base.html" %}

{% block content %}


    <h1>Welcome to Add Expense Page</h1>

        <form class="login100-form validate-form flex-sb flex-w" method="POST" action="">
          {% csrf_token %}
			<h2>
				{{ message|safe }}
			</h2>          
             <div class="p-t-31 p-b-9">
            <span class="txt1">
              Category:  
            </span>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Category is required">
            <input class="input100 input-phone " type="text" name="category" >
            <span class="focus-input100"></span>
          </div>

          <div class="p-t-13 p-b-9">
            <span class="txt1">
              Description
            </span>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Description is required">
            <input class="input100 input-phone " type="text" name="description" >
            <span class="focus-input100"></span>
          </div>

           <div class="p-t-13 p-b-9">
            <span class="txt1">
             Amount
            </span>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Description is required">
            <input class="input100 input-phone " type="number" name="amount" >
            <span class="focus-input100"></span>
          </div>

          <div class="p-t-13 p-b-9">
            <span class="txt1">
              Date
            </span>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Date is required">
            <input class="input100 input-phone "  type="date" name="date" >
            <span class="focus-input100"></span>
          </div>


          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
             Submit
            </button>
          </div>          

         </form>

<script type="text/javascript">
	
	
	
</script>


{% endblock %}
