{% extends "base.html" %}

{% block content %}
    <h1 >Manage Your Expenses</h1> 

    <div style="display: inline-block;" >
      
      
          <form class="login100-form validate-form flex-sb flex-w" method="GET" >
             <h3> Search By Description</h3> 
          <div class="wrap-input100 validate-input" >
            <input class="input100 input-phone" placeholder="Description" type="text" name="description" >
            <span class="focus-input100"></span>
          </div>
          	<div class="container-login100-form-btn m-t-17">
            <button id="button" class="login100-form-btn">
             Submit
            </button>
          </div> 
          </form>
    </div>

    <div style="display: inline-block; position: absolute; right: 200px;" >

         <form class="login100-form validate-form flex-sb flex-w" method="GET" action="/accounts/Expense/ del/">
             <h3> Enter Description to Delete</h3>
          <div class="wrap-input100 validate-input">
            <input class="input100 input-phone " placeholder="description"  type="text" name="delt" >
            <span class="focus-input100"></span>
          </div>
          	<div class="container-login100-form-btn m-t-17">
            <button id="button" class="login100-form-btn">
             Submit
            </button>
          </div>
          </form>
        </div>


	    	<h3>
    		Total Expense : {{ sum }}
    	</h3>
            <table id="fresh-table" class="table">
            <thead>
                <th data-field="id">Category</th>
            	<th data-field="name" data-sortable="true">Description</th>
            	<th data-field="artists" data-sortable="true">Amount Paid</th>
              <th data-field="artists" data-sortable="true">Owe</th>
                <th data-field="danceability" data-sortable="true">date</th>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                <td>{{ expense.category__name }}</td>    
                <td>{{ expense.description }}</a></td>	        
            	<td>{{ expense.amount }}</td>
                 {% if expense.owe < 0 %}
                  <td> You Owe Rs. {% widthratio expense.owe 1 -1 %}</td>
                  {% else %}
                  <td> You GetBack Rs.{{ expense.owe }}</td>
                 {% endif %}
                <td>{{ expense.date }}</td>
                </tr>
                 {% endfor %}


            </tbody>
        </table> 
{% endblock %}
