{% extends "base.html" %}

{% block content %}
      <h1> Group Details </h1>
  


  <div class="text-center">

      <a  href="#" data-file="my file 1" class="btn btn-lg btn-danger rename" data-target="#basicModal"  >Add Group Expense </a>
     <a  href="#" data-file="my file 2" class="btn btn-lg btn-success sename" data-target="#UserModal" >Add User to Group</a>
             <a href="#" data-file="my file 2" class="btn btn-lg btn-success blnc" data-target="#Balance" >Group Users</a>
             <a href="#" data-file="my file 2" class="btn btn-lg btn-success NNblnc" data-target="#SHB" >Balances</a>


  </div>
  <hr>
    

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add Expense</h4>
      </div>
      <div class="modal-body">
                <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/accounts/Expense/addGroupexpense/{{ id }}">
          {% csrf_token %}
          <div class="p-t-13 p-b-9">
            <h4 class="txt1">
              Description
            </h4>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Description is required">
            <input class="input100 input-phone" type="text" name="description" >
            <span class="focus-input100"></span>
          </div>

           <div class="p-t-13 p-b-9">
            <h4 class="txt1">
             Amount
            </h4>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Description is required">
            <input class="input100 input-phone" type="number" name="amount" >
            <span class="focus-input100"></span>
          </div>

          <div class="p-t-13 p-b-9">
            <h4 class="txt1">
              Date
            </h4>
          </div>
          <div class="wrap-input100 validate-input" data-validate = "Date is required">
            <input class="input100 input-phone " type="date" name="date" >
            <span class="focus-input100"></span>
          </div>

        <div class="p-t-13 p-b-9">
            <h4 class="txt1">
              Split
            </h4>
          </div>

        <select name="split" style="font-size: 25px;background-color: #d9edf7;border-radius: 40px;padding: 5px 5px;" >
        <option  name=split value=True>Split Equally</option>
          <option  name=split value=False>Split UnEqually</option>  
</select>




        <div class="p-t-13 p-b-9">
            <h4 class="txt1">
              Paid by
            </h4> 
          </div>

        <select name="paidby" id="mySelect" onChange="check(this);" style="font-size: 25px;background-color: #d9edf7;border-radius: 40px;padding: 5px 5px;" >
            {% for users in username %}
          <option  name=paidby value={{ users }}>{{ users }}</option>
            {% endfor %}
            </select>
        <div id="other-div" style="display:none;">
            {% for users in Musernames %}        
        <label>{{ users }}
        <input class="input-phone" name = {{users}} id="other-input" type="number">
            {% endfor %}
        </label>
        </div>

          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
             Submit
            </button>
          </div>          

         </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="UserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add User</h4>
      </div>
      <div class="modal-body">
                <form class="login100-form validate-form flex-sb flex-w" method="POST" action="/accounts/Expense/GroupExpenses/{{ id }}/Add_user/">
          {% csrf_token %}
       
        <div class="p-t-13 p-b-9">
            <h3 class="txt1">
             Select User
            </h3>
          </div>

        <select name="addUser" style="font-size: 25px;background-color: #d9edf7;border-radius: 40px;padding: 5px 5px;position: relative;top: -5px;">
            {% for users in ALLUSERS %}
          <option  name=addUser value={{ users }}>{{ users }}</option>
            {% endfor %}
            </select>


          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
             Submit
            </button>
          </div>          

         </form>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Balance" tabindex="-1" role="dialog" aria-labelledby="Balance" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Group Users</h4>
      </div>
      <div class="modal-body">

                <h2>All Users In the Group</h2>

        {% for userss in Musernames %}
        <h3>
            {{ userss }}
        </h3>
        {% endfor%}


        <div class="p-t-13 p-b-9">
            <span class="txt1">


            </span>
          </div>


      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="SHB" tabindex="-1" role="dialog" aria-labelledby="SHB" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Balances</h4>
      </div>
      <div class="modal-body">

        <h2>Balances For : {{ description }}</h2>
        

            {% for p,m in PAID.items %}
                <h3> {{ p }} Paid : {{ m }}</h3>
            {% endfor %}

            
                {% for i,j in Dict1.items %}
                       <h3> {{ i }} Gets Back Rs.{{ j  }} </h3>
                    {% endfor %}
   
                    {% for k,l in Dict2.items %}
                         <h3> {{k}} Owes {{ l }} </h3>
                    {% endfor %}


        <div class="p-t-13 p-b-9">
            <span class="txt1">
                {{ disclamer }}
            </span>
          </div>
      </div>
    </div>
  </div>
</div>




        <h2> {{ message|safe }} </h2>
   <table id="fresh-table" class="table">
            <thead>
                <th data-field="id">Group</th>
            	<th data-field="name" data-sortable="true">Description</th>
            	<th data-field="artists" data-sortable="true">date</th>
                <th data-field="danceability" data-sortable="true">amount</th>
                <th data-field="danceability" data-sortable="true">Paid By</th>
                <th data-field="danceability" data-sortable="true">Split</th>
            </thead>
            <tbody>
            	      {% for i in groupname %}
                          {% cycle    '<tr>' '' '' '' '' '' %}

                            <td>{{ i }}</td>

                        {% endfor %}

            </tbody>
        </table> 



      

{% endblock %}


